@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300&display=swap');
@import url(/css/reset.css);
@import url(/css/util.css);
body{
	font-size: 0.8rem;
	line-height:1.5rem;
}
.gridWrap{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 95%;
	margin: 0 auto;
	margin-top: 25px;
	gap: 0.5rem;
}
.gdItem{
border: 1px solid rgba(0, 0, 0, 0.13);
padding: 1rem;
}


